{% load static %}

<footer class="footer bg-dark text-white py-5">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-md-2">
        <h5>Про нас</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="link-light">Про компанію</a></li>
          <li><a href="#" class="link-light">Контакти</a></li>
          <li><a href="#" class="link-light">Новини</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Допомога</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="link-light">Часті питання</a></li>
          <li><a href="#" class="link-light">Підтримка</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Категорії</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="link-light">Ноутбуки</a></li>
          <li><a href="#" class="link-light">Смартфони</a></li>
        </ul>
      </div>
      
      <!-- Блок соціальних мереж -->
      <div class="col-md-2">
        <h5>Соцмережі</h5>
        <a href="https://www.facebook.com" target="_blank" rel="nofollow">
          <i class="svg-f-facebook"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" rel="nofollow">
          <i class="svg-f-instagram"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank" rel="nofollow">
          <i class="svg-f-twitter"></i>
        </a>
        <a href="https://www.youtube.com" target="_blank" rel="nofollow">
          <i class="svg-f-youtube"></i>
        </a>
      </div>

      <!-- Блоки Зворотній зв'язок та Служба підтримки -->
      <div class="col-md-2">
        <h5>Зворотній зв'язок</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="link-light">Зв'язатися з нами</a></li>
          <li><a href="#" class="link-light">Служба підтримки</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Служба підтримки</h5>
        <ul class="list-unstyled">
          <li>0 800 000 800</li>
        </ul>
        <h5>Графік роботи</h5>
        <ul class="list-unstyled">
          <li>ПН-ПТ: з 09:00 до 17:00</li>
          <li>СБ-НД: з 10:00 до 14:00</li>
        </ul>
      </div>
    </div>

    <div class="text-center mt-3">
      <p>komservis.in.ua &copy; 2017-2025. Усі права захищені.</p>
    </div>
  </div>
</footer>
