<div class="product-description">
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
</div>

<!-- Додаємо розділ Схожі товари -->
<div class="similar-products">
    <h2>Схожі товари</h2>
    <div class="products-list">
        {% for similar_product in similar_products %}
            <div class="product-item">
                <a href="{% url 'product_detail' similar_product.slug %}">
                    <img src="{{ similar_product.image.url }}" alt="{{ similar_product.name }}">
                    <p>{{ similar_product.name }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>